.section-testimonials {
  padding: 9.6rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}
